body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../img/orac.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.theme-dark {
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(200, 200, 200);
}
